sudo: false
language: java
jdk: oraclejdk8
branches:
  only:
    - develop
before_install:
  - mvn versions:set -DnewVersion=$TRAVIS_BUILD_NUMBER
script: mvn deploy cobertura:cobertura
after_success:
  - curl --data build=true -X POST https://registry.hub.docker.com/u/dschadow/applicationintrusiondetection/trigger/21839a64-31aa-48fc-bcd6-1020e15b4ec3/
  - bash <(curl -s https://codecov.io/bash)
addons:
    srcclr: true