<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="APP_FILE" class="ch.qos.logback.core.FileAppender">
        <filter class="org.owasp.security.logging.filter.ExcludeClassifiedMarkerFilter"/>
        <file>duke-encounters-app.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %message%n</pattern>
        </encoder>
    </appender>

    <appender name="SECURITY_FILE" class="ch.qos.logback.core.FileAppender">
        <filter class="org.owasp.security.logging.filter.SecurityMarkerFilter"/>
        <file>duke-encounters-sec.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %message%n</pattern>
        </encoder>
    </appender>

    <appender name="APP_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="org.owasp.security.logging.filter.ExcludeClassifiedMarkerFilter"/>
        <encoder>
            <pattern>%date [%thread] [%marker] %-5level - %message%n</pattern>
        </encoder>
    </appender>

    <appender name="SECURITY_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="org.owasp.security.logging.filter.SecurityMarkerFilter"/>
        <encoder>
            <pattern>%date [%thread] [%marker] %-5level - %message%n</pattern>
        </encoder>
    </appender>

    <logger name="de.dominikschadow">
        <level value="INFO"/>
    </logger>

    <logger name="org.springframework">
        <level value="WARN"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="APP_CONSOLE"/>
    </root>
</configuration>