<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials :: head"></head>
<body>

<div class="container" id="main">
    <nav class="navbar-inverse navbar-default navbar-fixed-top">
        <div class="container">
            <div th:replace="partials :: navbar-header"></div>

            <div class="collapse navbar-collapse" id="mainNavigation">
                <ul class="nav navbar-nav">
                    <li><a href="/encounters">Encounters</a></li>
                    <li><a href="/search">Search</a></li>
                </ul>

                <form th:replace="partials :: navbar-search-form"></form>

                <ul th:replace="partials :: navbar-menu"></ul>
            </div>
        </div>
    </nav>

    <div class="row" id="welcome">
        <div class="col-12">
            <h1>My Profile
                <small th:text="${#httpServletRequest.remoteUser} + ' ('+ ${userlevel} + ')'"></small>
            </h1>
        </div>
    </div>

    <div class="row" id="operationResults">
        <div class="col-12">
            <p th:if="${ownEncounter}" class="alert alert-danger">This is your own encounter and cannot be
                confirmed by yourself</p>
            <p th:if="${secondConfirm}" class="alert alert-danger">You have already confirmed this encounter and cannot
                confirm it again</p>
            <p th:if="${dataUpdated}" class="alert alert-success">Data successfully updated</p>
            <p th:if="${dataNotUpdated}" class="alert alert-danger">Data update failed</p>
        </div>
    </div>

    <div class="row" id="actions">
        <div class="col-12">
            <a th:href="@{/account/userdata}" class="btn btn-success">Edit Userdata</a>
            <a th:href="@{/account/password}" class="btn btn-success">Change Password</a>
        </div>
    </div>

    <div class="row" id="encountersAndConfirmations">
        <div class="col-sm-6 feature">
            <div class="panel">
                <div class="panel-heading">
                    <h2 class="panel-title">My Encounters</h2>
                </div>

                <div class="list-group">
                    <a th:href="@{|/encounter/${encounter.id}|}" th:each="encounter : ${encounters}"
                       class="list-group-item">
                        <span class="badge" th:text="${encounter.confirmations.size()}"></span>
                        <h4 class="list-group-item-heading">
                            <span th:text="${encounter.event} + ' ('+ ${#calendars.format(encounter.date,'MM/dd/yyyy')} + ')'"></span>
                        </h4>
                        <p class="list-group-item-text">
                            <span th:text="${encounter.location} + ' ('+ ${encounter.country} + ')'"></span>
                        </p>
                    </a>
                </div>

                <div class="panel-text">
                    <a th:href="@{/encounter/create}" class="btn btn-success btn-block">Add Encounter</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 feature">
            <div class="panel">
                <div class="panel-heading">
                    <h2 class="panel-title">My Confirmations</h2>
                </div>

                <div class="list-group">
                    <a th:href="@{|/encounter/${confirmation.encounter.id}|}" th:each="confirmation : ${confirmations}"
                       class="list-group-item">
                        <h4 class="list-group-item-heading">
                            <span th:text="${confirmation.encounter.event} + ' ('+ ${#calendars.format(confirmation.date,'MM/dd/yyyy')} + ')'"></span>
                        </h4>
                        <p class="list-group-item-text">
                            <span th:text="${confirmation.encounter.location} + ' ('+ ${confirmation.encounter.country} + ')'"></span>
                        </p>
                    </a>
                </div>

                <div class="panel-text">
                    <a th:href="@{/encounters}" class="btn btn-success btn-block">Add Confirmation</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:include="partials :: footer"></footer>

<div th:replace="partials :: scripts"></div>
</body>
</html>
