<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Duke Encounters - Account</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
</head>
<body>

<div class="container" id="main">
    <nav class="navbar-inverse navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#mainNavigation" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img th:src="@{/img/duke-small.png}" alt="Duke Encounters Home"/></a>
            </div>

            <div class="collapse navbar-collapse" id="mainNavigation">
                <ul class="nav navbar-nav">
                    <li><a href="/encounter">Encounters</a></li>
                    <li><a href="/search">Search</a></li>
                </ul>

                <form class="navbar-form navbar-left" role="search">
                    <input type="text" class="form-control" placeholder="Search Encounter" id="searchEncounterField"/>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><span class="glyphicon glyphicon-user"></span> My Account <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/encounter?type=own"><span class="glyphicon glyphicon-camera"></span> My
                                Encounters</a>
                            </li>
                            <li><a href="/confirmation?type=own"><span class="glyphicon glyphicon-tags"></span> My
                                Confirmations</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="/account"><span class="glyphicon glyphicon-wrench"></span> My Profile</a></li>
                        </ul>
                    </li>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-default btn-dropdown-logout">
                                <span class="glyphicon glyphicon-off"></span> Log out
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row" id="welcome">
        <div class="col-12">
            <h1>My Password
                <small th:text="${#httpServletRequest.remoteUser} + ' ('+ ${userlevel} + ')'"></small>
            </h1>
        </div>
    </div>

    <div class="row" id="actions">
        <div class="col-12">
            <a th:href="@{/account}" class="btn btn-success">Account</a>
            <a th:href="@{/account/edit}" class="btn btn-success">Edit Userdata</a>
        </div>
    </div>

    <div class="row" id="failure">
        <div class="col-12">
            <p th:if="${passwordUpdateFailure}" class="alert alert-warning" role="alert"
               th:text="${passwordUpdateFailure}"></p>
        </div>
    </div>

    <div class="row" id="changePassword">
        <div class="col-12">
            <h2>Password</h2>

            <form class="form-horizontal" action="#" th:action="@{/account/password/update}"
                  th:object="${passwordChange}" method="post" role="form">
                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p th:each="error : ${#fields.errors('*')}" th:text="${error}">
                        Validation error
                    </p>
                </div>
                <div th:class="${#fields.hasErrors('currentPassword')} ? 'form-group has-error has-feedback' : 'form-group'">
                    <label class="col-sm-2 control-label" for="currentPassword">Current password</label>
                    <div class="col-sm-10">
                        <input type="password" autofocus="autofocus" id="currentPassword" name="currentPassword"
                               th:field="*{currentPassword}" class="form-control" placeholder="Current password"/>
                    </div>
                </div>
                <div th:class="${#fields.hasErrors('newPassword')} ? 'form-group has-error has-feedback' : 'form-group'">
                    <label class="col-sm-2 control-label" for="newPassword">New password</label>
                    <div class="col-sm-10">
                        <input type="password" id="newPassword" name="newPassword" th:field="*{newPassword}"
                               class="form-control" placeholder="New password"/>
                    </div>
                </div>
                <div th:class="${#fields.hasErrors('newPasswordConfirmation')} ? 'form-group has-error has-feedback' : 'form-group'">
                    <label class="col-sm-2 control-label" for="newPasswordConfirmation">Confirm new password</label>
                    <div class="col-sm-10">
                        <input type="password" id="newPasswordConfirmation" name="newPasswordConfirmation"
                               th:field="*{newPasswordConfirmation}" class="form-control"
                               placeholder="Confirm new password"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success pull-right">Change Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h6>Duke Encounters</h6>
                <p>The leading online platform for Java Duke spotting.</p>
            </div>
            <div class="col-sm-4">
                <h6>About</h6>
                <p>This demo web application is developed by <a href="http://www.dominikschadow.de" target="_blank">Dominik
                    Schadow</a>, source code is available on <a
                        href="https://github.com/dschadow/ApplicationIntrusionDetection"
                        target="_blank">GitHub</a>.</p>
            </div>
            <div class="col-sm-2">
                <h6>Navigation</h6>
                <ul class="unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href="/encounter">Encounter</a></li>
                    <li><a href="/search">Search</a></li>
                    <li><a href="/account">Account</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h6>Follow me</h6>
                <ul class="unstyled">
                    <li><a href="http://www.dominikschadow.de" target="_blank">Blog</a></li>
                    <li><a href="https://twitter.com/dschadow" target="_blank">Twitter</a></li>
                    <li><a href="https://github.com/dschadow" target="_blank">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="/webjars/jquery/1.11.3/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>