<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials :: head"></head>
<body>

<div class="container" id="main">
    <nav class="navbar-inverse navbar-default navbar-fixed-top">
        <div class="container">
            <div th:replace="partials :: navbar-header"></div>

            <div class="collapse navbar-collapse" id="mainNavigation">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/encounters}">Encounters</a></li>
                    <li><a th:href="@{/search}">Search</a></li>
                </ul>

                <form th:replace="partials :: navbar-search-form"></form>

                <ul th:replace="partials :: navbar-menu"></ul>
            </div>
        </div>
    </nav>

    <div class="row" id="welcome">
        <div class="col-12">
            <h1>Confirmations</h1>

            <p class="lead">Confirmation not listed yet? <a th:href="@{/encounters}">Confirm</a> an encounter.</p>
        </div>
    </div>

    <div class="row" id="operationResults">
        <div class="col-12">
            <p th:if="${confirmationFailure}" class="alert alert-danger">The requested confirmation does not exist</p>
        </div>
    </div>

    <div class="row" id="confirmations">
        <div class="col-12">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Event</th>
                            <th>Location</th>
                            <th>Date</th>
                            <th>Confirmation Date</th>
                            <th>Revoke</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="confirmation : ${confirmations}">
                            <td><a th:href="@{|/encounter/${confirmation.encounter.id}|}"
                                   th:text="${confirmation.encounter.event}"></a></td>
                            <td th:text="${confirmation.encounter.location} + ' ('+ ${confirmation.encounter.country} + ')'"></td>
                            <td th:text="${#calendars.format(confirmation.encounter.date,'MM/dd/yyyy')}"></td>
                            <td th:text="${#calendars.format(confirmation.date,'MM/dd/yyyy')}"></td>
                            <td>
                                <form th:action="@{/confirmation/revoke}" method="post">
                                    <input type="hidden" th:value="${confirmation.id}" th:name="confirmationId"/>
                                    <button type="submit" class="btn btn-default btn-sm"
                                            aria-label="Revoke Confirmation">
                                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:include="partials :: footer"></footer>

<div th:replace="partials :: scripts"></div>
</body>
</html>
