<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials :: head"></head>
<body>

<div class="container" id="main">
    <nav class="navbar-inverse navbar-default navbar-fixed-top">
        <div class="container">
            <div th:replace="partials :: navbar-header"></div>

            <div class="collapse navbar-collapse" id="mainNavigation">
                <ul class="nav navbar-nav">
                    <li><a href="/encounters">Encounters</a></li>
                    <li><a href="/search">Search</a></li>
                </ul>

                <form th:replace="partials :: navbar-search-form"></form>

                <ul th:replace="partials :: navbar-menu"></ul>
            </div>
        </div>
    </nav>

    <div class="row" id="welcome">
        <div class="col-12">
            <h1 th:text="${encounter.event}"></h1>
        </div>
    </div>

    <div class="row" id="encounter">
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th>City</th>
                    <th>Country</th>
                    <th>Date</th>
                    <th>Likelihood</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${encounter.location}"></td>
                    <td th:text="${encounter.country}"></td>
                    <td th:text="${#calendars.format(encounter.date,'MM/dd/yyyy')}"></td>
                    <td th:text="${encounter.likelihood}"></td>
                    <!-- owner can delete
                    <td>
                        <form action="#" th:action="@{/encounter/delete}" method="post">
                            <input type="hidden" th:value="${encounter.id}" th:name="encounterId"/>
                            <button type="submit" class="btn btn-danger btn-sm"
                                    aria-label="Delete Encounter">
                                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                            </button>
                        </form>
                    </td>
                    -->
                </tr>
                </tbody>
            </table>

            <div th:if="${!encounter.comment.isEmpty()}">
                <h3>Comment</h3>

                <p th:text="${encounter.comment}"></p>
            </div>
        </div>
    </div>

    <div class="row" id="confirmations">
        <div class="col-12">
            <h2>Confirmations</h2>

            <p th:each="confirmation,iterStat : ${encounter.confirmations}">
                <span th:text="${confirmation.user} + ' (' + ${#calendars.format(confirmation.date,'MM/dd/yyyy')} + ')'"></span><br/>
            </p>

            <p th:if="${encounter.confirmations.isEmpty()}">Encounter not confirmed</p>

            <!-- owner can delete
            <p class="list-group-item-text">
            <form th:action="@{/confirmations/revoke}" method="post">
                <input type="hidden" th:value="${confirmation.id}" th:name="confirmationId"/>
                <button type="submit" class="btn btn-danger btn-sm pull-right" aria-label="Revoke Confirmation">
                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                </button>
            </form>
            -->
        </div>
    </div>

    <div class="row" id="actions">
        <div class="col-12">
            <a th:href="@{/encounters}" class="btn btn-success">Encounters</a>
        </div>
    </div>
</div>

<footer th:include="partials :: footer"></footer>

<div th:replace="partials :: scripts"></div>
</body>
</html>
