<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Duke Encounters: Encounters</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <h1>Duke Encounters: Encounters</h1>

    <table>
        <tr>
            <th>Event</th>
            <th>Location</th>
            <th>Date</th>
            <th>Confirmed by</th>
            <th>Likelihood</th>
        </tr>
        <tr th:each="encounter : ${encounters}">
            <td th:text="${encounter.event}"></td>
            <td th:text="${encounter.location} + ' ('+ ${encounter.country} + ')'"></td>
            <td th:text="${#calendars.format(encounter.date,'yyyy-MM-dd')}"></td>
            <td th:text="${encounter.confirmations}"></td>
            <td th:text="${encounter.likelihood}"></td>
        </tr>
    </table>
    
    <h2>Actions</h2>

    <p><a href="/">Home</a> | <a href="encounters">All Encounters</a> | <a href="search">Search</a> | <a href="login">Login</a></p>

</body>
</html>
