<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials :: head"></head>
<body>

<div class="container" id="main">
    <div class="row">
        <div class="col-12">
            <h1>Something horrible just happened...</h1>

            <p class="lead">There seems to be a problem with the page you requested (<span th:text="${path}"></span> at
                <span th:text="${timestamp}"></span>).
            </p>
        </div>
    </div>

    <div class="row" id="actions">
        <div class="col-12">
            <a href="/" class="btn btn-success">Return home</a>
        </div>
    </div>
</div>

</body>
</html>