<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Duke Encounters - Error</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>
<body>
<div class="container" id="main">
    <div class="row">
        <div class="col-12">
            <h1>Something horrible just happened...</h1>

            <p class="lead" th:text="${errorCode}"></p>

            <p class="lead" th:text="${errorMessage}"></p>
        </div>
    </div>

    <div class="row" id="actions">
        <div class="col-12">
            <a href="/" class="btn btn-success">Return home</a>
        </div>
    </div>
</div>

</body>
</html>