<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Duke Encounters</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{css/custom.css}"/>
</head>
<body>

<div class="container" id="main">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#mainNavigation" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img th:src="@{img/duke-small.png}" alt="Duke Encounters Home"/></a>
            </div>

            <div class="collapse navbar-collapse" id="mainNavigation">
                <ul class="nav navbar-nav">
                    <li><a href="encounters">Encounters</a></li>
                    <li><a href="search">Search</a></li>
                </ul>

                <form class="navbar-form navbar-left" role="search">
                    <input type="text" class="form-control" placeholder="Search Encounter" id="searchEncounterField"/>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${#httpServletRequest.remoteUser == null}" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><span class="glyphicon glyphicon-user"></span> My Account <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="login">Login</a></li>
                        </ul>
                    </li>
                    <li th:if="${#httpServletRequest.remoteUser}" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><span class="glyphicon glyphicon-user"></span> My Account <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="encounters?type=own"><span class="glyphicon glyphicon-camera"></span> My
                                Encounters</a>
                            </li>
                            <li><a href="confirmations?type=own"><span class="glyphicon glyphicon-tags"></span> My
                                Confirmations</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="account"><span class="glyphicon glyphicon-wrench"></span> My Profile</a></li>
                        </ul>
                    </li>
                    <li th:if="${#httpServletRequest.remoteUser}">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-default btn-dropdown-logout">
                                <span class="glyphicon glyphicon-off"></span> Log out
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row" id="welcome">
        <div class="col-12">
            <div class="well">
                <div class="page-header">
                    <h1>Duke Encounters
                        <small>The leading online platform for Java Duke spotting</small>
                    </h1>

                    <p class="lead">This sample web application is using <a href="http://appsensor.org" target="_blank">OWASP
                        AppSensor</a> for Application Intrusion Detection. The application is developed by Dominik
                        Schadow, all source code is available on <a
                                href="https://github.com/dschadow/ApplicationIntrusionDetection"
                                target="_blank">GitHub</a>.
                        This application is using an in-memory database to temporarily persist all information. Keep in
                        mind that all entered information therefore will be lost when restarting the application.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="latestEncounters">
        <h2>Latest Encounters</h2>

        <p class="lead"><a href="encounters">View all</a> encounters or <a href="search">search</a> for the ones you are
            interested in. <span th:if="${#httpServletRequest.remoteUser == null}">You have to <a href="register">register</a> or <a
                    href="login">login</a> to contribute.</span>
        </p>

        <div class="col-md-8">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Event</th>
                        <th>Location</th>
                        <th>Date</th>
                        <th>Likelihood</th>
                        <th th:if="${#httpServletRequest.remoteUser}">Confirm</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="encounter : ${encounters}">
                        <td th:text="${encounter.event}"></td>
                        <td th:text="${encounter.location} + ' ('+ ${encounter.country} + ')'"></td>
                        <td th:text="${#calendars.format(encounter.date,'yyyy-MM-dd')}"></td>
                        <td th:text="${encounter.likelihood}"></td>
                        <td th:if="${#httpServletRequest.remoteUser}">
                            <form th:action="@{/confirmations/add}" method="post">
                                <input type="hidden" th:value="${encounter.id}" th:name="encounterId"/>
                                <button type="submit" class="btn btn-default btn-sm" aria-label="Confirm Encounter">
                                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4"><a href="https://commons.wikimedia.org/wiki/File:Duke-Guitar.png" target="_blank"><img
                th:src="@{img/duke-guitar.png}"
                alt="Duke by Wikimedia Commons - https://commons.wikimedia.org/wiki/File:Duke-Guitar.png"/></a></div>
    </div>
</div>

<footer></footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
