<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials :: head"></head>
<body>

<div class="container" id="main">
    <nav class="navbar-inverse navbar-default navbar-fixed-top">
        <div class="container">
            <div th:replace="partials :: navbar-header"></div>

            <div class="collapse navbar-collapse" id="mainNavigation">
                <ul class="nav navbar-nav">
                    <li><a href="/encounters">Encounters</a></li>
                    <li><a href="/search">Search</a></li>
                </ul>

                <form th:replace="partials :: navbar-search-form"></form>

                <ul th:replace="partials :: navbar-menu"></ul>
            </div>
        </div>
    </nav>

    <div class="row" id="welcome">
        <div class="col-12">
            <div class="well">
                <div class="page-header">
                    <h1>Duke Encounters
                        <small>The leading online platform for Java Duke spotting</small>
                    </h1>

                    <p class="lead">This sample web application is using <a href="http://appsensor.org" target="_blank">OWASP
                        AppSensor</a> for Application Intrusion Detection. It is using a <a
                            href="http://www.h2database.com" target="_blank">h2</a> in-memory database to temporarily
                        persist all information. Keep in mind that all entered information will be lost when restarting
                        the application.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="latestEncountersHeader">
        <div class="col-12">
            <h2>Latest Encounters</h2>

            <p class="lead"><a href="/encounters">View all</a> encounters or <a href="/search">search</a> for the ones
                you
                are interested in. <span th:if="${#httpServletRequest.remoteUser == null}">You have to <a
                        href="/register">register</a> or <a href="/login">login</a> to contribute.</span>
            </p>
        </div>
    </div>

    <div class="row" id="latestEncounters">
        <div class="col-sm-7">
            <ul th:if="${#httpServletRequest.remoteUser == null}" class="list-group">
                <li th:each="encounter : ${encounters}" class="list-group-item">
                    <span class="badge" th:text="${encounter.confirmations.size()}"></span>
                    <h4 class="list-group-item-heading">
                        <span th:text="${encounter.event} + ' ('+ ${#calendars.format(encounter.date,'MM/dd/yyyy')} + ')'"></span>
                    </h4>
                    <p class="list-group-item-text">
                        <span th:text="${encounter.location} + ' ('+ ${encounter.country} + ')'"></span>
                    </p>
                </li>
            </ul>
            <div th:if="${#httpServletRequest.remoteUser}" class="list-group">
                <a th:href="@{|/encounter/${encounter.id}|}" th:each="encounter : ${encounters}"
                   class="list-group-item">
                    <span class="badge" th:text="${encounter.confirmations.size()}"></span>
                    <h4 class="list-group-item-heading">
                        <span th:text="${encounter.event} + ' ('+ ${#calendars.format(encounter.date,'MM/dd/yyyy')} + ')'"></span>
                    </h4>
                    <p class="list-group-item-text">
                        <span th:text="${encounter.location} + ' ('+ ${encounter.country} + ')'"></span>
                    </p>
                </a>
            </div>
        </div>
        <div class="col-sm-5 duke"><a href="https://commons.wikimedia.org/wiki/File:Duke-Guitar.png"
                                      target="_blank"><img
                th:src="@{img/duke-guitar.png}"
                alt="Duke by Wikimedia Commons - https://commons.wikimedia.org/wiki/File:Duke-Guitar.png"/></a>
        </div>
    </div>
</div>

<footer th:include="partials :: footer"></footer>

<div th:replace="partials :: scripts"></div>
</body>
</html>
