<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials :: head"></head>
<body>

<div class="container" id="main">
    <nav class="navbar-inverse navbar-default navbar-fixed-top">
        <div class="container">
            <div th:replace="partials :: navbar-header"></div>

            <div class="collapse navbar-collapse" id="mainNavigation">
                <ul class="nav navbar-nav">
                    <li><a href="/encounters">Encounters</a></li>
                    <li class="active"><a href="/search">Search</a></li>
                </ul>

                <form th:replace="partials :: navbar-search-form"></form>

                <ul th:replace="partials :: navbar-menu"></ul>
            </div>
        </div>
    </nav>

    <div class="row" id="welcome">
        <div class="col-12">
            <h1>Search</h1>

            <p class="lead">Search for encounters that have been reported in the past.</p>
        </div>
    </div>

    <div class="row" id="searchForm">
        <div class="col-12">
            <form class="form-horizontal" action="#" th:action="@{/encounters}" th:object="${searchFilter}"
                  method="post" role="form">
                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p th:each="error : ${#fields.errors('*')}" th:text="${error}">
                        Validation error
                    </p>
                </div>
                <div th:class="${#fields.hasErrors('event')} ? 'form-group has-error has-feedback' : 'form-group'">
                    <label class="col-sm-2 control-label" for="event">Event</label>
                    <div class="col-sm-10">
                        <input type="text" autofocus="autofocus" id="event" name="event" th:field="*{event}"
                               class="form-control" placeholder="Event"/>
                    </div>
                </div>
                <div th:class="${#fields.hasErrors('location')} ? 'form-group has-error has-feedback' : 'form-group'">
                    <label class="col-sm-2 control-label" for="location">Location</label>
                    <div class="col-sm-10">
                        <input type="text" id="location" name="location" th:field="*{location}" class="form-control"
                               placeholder="Location"/>
                    </div>
                </div>
                <div th:class="${#fields.hasErrors('country')} ? 'form-group has-error has-feedback' : 'form-group'">
                    <label class="col-sm-2 control-label" for="country">Country</label>
                    <div class="col-sm-10">
                        <input type="text" id="country" name="country" th:field="*{country}" class="form-control"
                               placeholder="Country"/>
                    </div>
                </div>
                <div th:class="${#fields.hasErrors('year')} ? 'form-group has-error has-feedback' : 'form-group'">
                    <label class="col-sm-2 control-label" for="year">Year</label>
                    <div class="col-sm-2">
                        <input type="text" id="year" name="year" th:field="*{year}" class="form-control"
                               placeholder="Year"/>
                    </div>
                    <div class="col-sm-8"></div>
                </div>
                <div th:class="${#fields.hasErrors('likelihood')} ? 'form-group has-error has-feedback' : 'form-group'">
                    <label class="col-sm-2 control-label" for="likelihood">Likelihood</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="likelihood" name="likelihood">
                            <option th:each="value : ${T(de.dominikschadow.duke.encounters.domain.Likelihood).values()}"
                                    th:value="${value}"
                                    th:text="${value.name}"
                                    th:selected="${value == T(de.dominikschadow.duke.encounters.domain.Likelihood).ALL}"></option>
                        </select>
                    </div>
                    <div class="col-sm-8"></div>
                </div>
                <div th:class="${#fields.hasErrors('confirmations')} ? 'form-group has-error has-feedback' : 'form-group'">
                    <label class="col-sm-2 control-label" for="confirmations">Confirmations</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="confirmations" name="confirmations">
                            <option th:each="i : ${#numbers.sequence(0, 10)}" th:value="${i}" th:text="${i}"
                                    th:selected="${ i==0 } ">
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-8"></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success pull-right">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:include="partials :: footer"></footer>

<div th:replace="partials :: scripts"></div>
</body>
</html>
