<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Duke Encounters</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body role="document">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Duke Encounters</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="encounters">Encounters</a></li>
                <li class="active"><a href="search">Search</a></li>
                <li><a href="login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1>Search</h1>

        <p>Search for <strong>Duke Encounters</strong> that have been reported in the past.</p>
    </div>
</div>

<div class="container">
    <form action="#" th:action="@{/searchEncounters}" th:object="${searchFilter}" method="post" role="form">
        <div class="form-group">
            <label for="event">Event</label>
            <input type="text" id="event" name="event" th:field="*{event}" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" id="location" name="location" th:field="*{location}" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <input type="text" id="country" name="country" th:field="*{country}" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="year">Year</label>
            <input type="text" id="year" name="year" th:field="*{year}" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="likelihood">Likelihood</label>
            <select class="form-control" id="likelihood" name="likelihood">
                <option th:each="value : ${T(de.dominikschadow.javasecurity.duke.domain.Likelihood).values()}"
                        th:value="${value}"
                        th:text="${value.name}"
                        th:selected="${value == T(de.dominikschadow.javasecurity.duke.domain.Likelihood).ALL}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="confirmations">Minimum no. of confirmations</label>
            <select class="form-control" id="confirmations" name="confirmations">
                <option th:each="i : ${#numbers.sequence(0, 10)}" th:value="${i}" th:text="${i}"
                        th:selected="${ i==0 } ">
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-default">Search</button>
    </form>
</div>

</body>
</html>
