body {
    padding-top: 70px;
}

.btn-dropdown-logout {
    margin-top: 8px;
    margin-left: 20px;
}

.well .page-header {
    margin-top: 0;
    margin-bottom: 0;
}

.well .page-header h1 {
    margin-top: 0;
}

.well .page-header p {
    margin-bottom: 5px;
}

.duke {
    padding-top: 50px;
    text-align: center;
}

footer {
    background: #333;
    color: #eee;
    font-size: 11px;
    padding: 20px;
}

.unstyled {
    list-style: none;
    padding: 0;
}

#encountersAndConfirmations {
    margin-top: 25px;
    margin-bottom: 25px;
}

.panel-text {
    margin-top: 25px;
}

.btn-success, .btn-success.active, .btn-success:active, .btn-success:hover, .btn-success.focus, .btn-success:focus, .btn-success:active:hover,
.btn-success.active:hover, .btn-success:active:focus, .btn-success.active:focus, .btn-success:active.focus, .btn-success.active.focus,
.btn-success.disabled:hover, .btn-success[disabled]:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus,
.btn-success.disabled.focus, .btn-success[disabled].focus {
    background-color: #337ab7;
}

#actions {
    margin-bottom: 20px;
}