h1 {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
}

h2 {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

p, td {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: 1.0rem;
}

th {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 1.4rem;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: navy;
}